@font-face{
    font-family: 'yekan';
    src: url(../fonts/Yekan.ttf);

}
body{
    direction: rtl;
    font-family: yekan;
    padding: 0;
    margin:0;
}
.align_in_page{
    margin-right: 70px;
    margin-left: 70px;
}
/* header ----------------------------------------------------------------*/
header{

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* -ms-grid-row-align: ; */
    border-bottom: 3px solid #e8491d;
    background-color:  #35424a;
    justify-items: end;
    height: 70px;
    
}
.power_word{
    color: #e8491d;
}

header p{
    justify-self: center;
    color: white;
    font-size: 30px;
    padding: 15px 0 0 0;
    margin: 0px;
}
header ul{
    padding: 0;
    margin:0 auto;
    display: grid;
    grid-template-columns: 50px 70px 50px;      
}
header li{
    list-style-type: none;
    padding: 19px 0 0 0 ;
}
 ul a{
     padding: 0px;
     margin: 0;
    text-decoration: none;
    color:  white;
    font-size: 17px;
}
/* member-------------------------------------------------- */
aside{
    background-color: #35424a;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

form{
    justify-self: end;
    padding: 0px;
    margin: 0px;
    /* justify-self: center; */
    align-self: center;
}

form button{
    background-color: #e8491d;
    border: 0px;
    /* display: inline; */
    width: 70px;
    height: 35px;
    border-radius: 3px;
    color: white;
    padding: 0px ;
}

form input{
    width: 200px;
    height: 30px;
    border: 0px;
    border-radius: 3px;
    margin: 0px;
    /* margin-bottom: 100px; */
     padding: 0px;
}
aside p{
    text-align: right;
    font-weight: 800px;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    color: white;
    align-self: center;
    /* justify-self: right; */
    /* padding-right: 50px; */
    /* display: inline; */
}
aside div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 70px;
}
/* main-------------------------------------------------- */
main>div.align_in_page{
    display: grid;
    grid-template-rows: repeat(3,minmax(100,auto));
    grid-template-columns: 1fr 1fr 1fr ;
    /* grid-template-rows: ; */
    grid-gap: 20px;


}
main>div.align_in_page :nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1/2;
}
main>div.align_in_page :nth-child(2){
    grid-column: 1/3;
    grid-row: 2/3;
}

main>div.align_in_page :nth-child(3){
    grid-column: 1/3;
    grid-row: 3/4;
}


main>div.align_in_page>div:nth-child(2n){
    background-color: gray;
}

/*footer................................................*/
footer{
    background-color: #e8491d;
    color: white;
    padding: 10px;
    text-align: center;
    /* letter-spacing: 1em; */
    
}

